<div class="card">
    <div id="card-header-0" class="card-header">
        <label class="form-check-label">
        <input class="form-check-input my-2" type="checkbox">
    </label>
        <button class="btn btn-sm" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <button class="btn btn-sm" type="button" data-target="#collapse-pane-0" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-pane-0" >Crashes (County)</button>
    </div>
    <div id="collapse-pane-0" class="collapse show" data-parent="legendAccordion">
        <div class="card-body">
            <div><span style="background-color: rgb(244, 93, 76);"></span>30,924 - 42,765</div>
            <div><span style="background-color: rgb(247, 165, 65);"></span>23,193 - 30,923</div>
            <div><span style="background-color: rgb(250, 202, 102);"></span>15,462 - 23,192</div>
            <div><span style="background-color: rgb(254, 229, 173);"></span>7,731 - 15,461</div>
            <div><span style="background-color: rgb(161, 219, 178);"></span>0 - 7,730</div>
        </div>
    </div>
</div>